<%= form_with(model: @blog, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="blog">
    <div class="blog_title">
      <%= form.label :title, "タイトル" %>
      <%= form.text_field :title %>
    </div>
    <br>
    <div class="blog_field">
      <p><%= form.label :image, "画像" %></p>
      <p><%= form.file_field :image, class: "image_form" %></p>
    </div>
    <br>
    <div class="blog_title">
      <%= form.label :content, "本文" %>
      <%= form.text_field :content %>
    </div>
  </div>
  <br>
  <div class="create">
    <%= form.submit "Create Blog", class: "create-btn" %>
  </div>
<% end %>
<br>
<div class="blog_url">
  <%= link_to "ブログ一覧画面にもどる", blogs_path, class: "cp_link" %>
</div>
