<div class="header">
  <h3>以下の内容で、送信する。</h3>
</div>
<%= form_with(model: @blog, url: blogs_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %>
  <%= form.hidden_field :image_cache %>
  <div class="confirm">
    <div class="title_text">
      <p>タイトル:<%= @blog.title %></p>
    </div>
    <div class="image">
      <p><%= @blog.image %></p>
    </div>
    <div class="content_text">
      <p>本文:<%= @blog.content %></p>
    </div>
  </div>
  <%= form.submit "登録する" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>
