<div class="header">
  <h3>以下の内容で、送信する。</h3>
</div>
<div class="confirm-box">
<%= form_with(model: @blog, url: blogs_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <div class="confirm-title-box">
    <p class="confirm-title">タイトル:<%= @blog.title %></p>
  </div>
      <p class="confirm-content"><%= @blog.content %></p>
      <%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %>
  <%= form.hidden_field :image_cache %>
</div>
<div class="confirm-btn-area">
<%= form.submit "登録する", class: "submit-btn" %>
    <%= form.submit "戻る", name: 'back', class: "return-btn" %>
<% end %>
</div>
