<table border="1", class="blog_all">
<caption>ブログ一覧</caption>
<colgroup align="center">
<thead>
  <tr>
    <th>ユーザー名</th>
    <th>タイトル</th>
    <th>内容</th>
  </tr>
</thead>
<tfoot>
  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.user.name %></td>
      <td><%= blog.title %></td>
      <td><%= blog.content %></td>
      <td><%= image_tag @blog.image.url %></td>
      <td><%= link_to '詳細を確認する', blog_path(blog.id) %></td>
      <td><%= link_to "ブログを編集する", edit_blog_path(blog.id) %></td>
      <td><%= link_to 'ブログを削除する', blog_path(blog.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }%></td>
    </tr>
  <% end %>
</tfoot>
</table>
<br>
<div class="blog_url">
  <%= link_to '新しくブログを投稿する', new_blog_path, class: "cp_link" %>
</div>
